
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background-color: black;
}

/* Estilo das imagens */
img {
    width: 100%; 
    max-width: 300px; 
    height: auto;
    margin: 10px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block; 
    pointer-events: none; 
}


.conteiner {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
    overflow: hidden; 
}