*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html{
    height: 100vh;
    font-size: 14px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    padding-top: 288%;
}

.container{
    display: flex;
    justify-content: center;
    pointer-events: none;
    flex-wrap: wrap;
    margin: 0 20px
    
}

.img-catalogo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.container img {
    pointer-events: none;
}