*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html{
    height: 100vh;
    font-size: 14px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     margin: 0;
     margin-top: 300%;
     background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20px;
    position: relative;
    pointer-events: none;
}

.container img {
    pointer-events: none;
}
.img-catalogo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    display: block;
    background-size: cover;
    background-position: center;
}
.container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.img-catalogo[data-image="1"] {
    background-image: url(fotos/capa catalogo.jpg);
}
.img-catalogo[data-image="2"] {
    
}
.img-catalogo[data-image="3"] {
    
}
.img-catalogo[data-image="4"] {
    
}
.img-catalogo[data-image="5"] {
    
}
.img-catalogo[data-image="6"] {
    
}
.img-catalogo[data-image="7"] {
    
}